/*Style by futura.org.br only for test*/

.container-faixa-prog {
  width: 100%;
  height: 75px;
  margin-top: -181px;
  position: relative;;
  background-color: rgba(0,0,0,0.6)
}

.faixa-programacao {
  position: relative;
  height: 75px;
  margin: 0px auto;
  padding: 0px;
}

.faixa-programacao:before {
  display: table;
  content: " ";
}

.programacao-da-semana {
  width: 100%;
}

.content-programacao {
  height: 70px;
}

.content-programacao:before {
  content: " ";
  width: 468px;
  height: 2px;
  background-color: #00cb56;
  left: -30px;
  top: 0px;
  position: absolute;
}

.hover-futuraplay {
  position: absolute;
  top: 0px;
  left: -30px;
  width: 467px;
  text-align: center;
  height: 70px;
  z-index: 1;
  opacity: 0;
  text-decoration: none !important;
  outline: none !important;
}

.programacao-da-semana .no-ar-hoje {
  padding: 0px;
  position: relative;
}

.programacao-da-semana .container-programacao-hoje {
  height: 75px;
  overflow: hidden;
  display: inline-block;
  float: left;
  padding: 0px;
  margin-left: -41px;
  width: 72%;
}

.baixar_programacao_home {
  position: absolute;
  right: -15px;
  bottom: 5px;
  color: #FFF !important;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  padding: 3px 0px;
  text-decoration: none !important;
}

.hover-futuraplay .play {
  width: 53px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  margin-top: 21px;
}

.hover-futuraplay .aovivo-texto {
  display: inline-block;
  width: 240px;
  text-align: center;
  margin-bottom: 0px;
}

.hover-futuraplay:after {
  content: " ";
  right: 0px;
  bottom: 0px;
  width: 1px;
  height: 74px;
  position: absolute;
  background: #FFF;
  opacity: 0.2;
}

.programacao-da-semana .no-ar-hoje:before {
  content: " ";
  width: 12px;
  height: 12px;
  background-color: #FF0000;
  position: absolute;
  left: -29px;
  top: 33px;
  border-radius: 50%;
  animation: ex4 0.7s infinit;
  -moz-animation: ex4 0.7s infinit;
  -webkit-animation: ex4 0.7s infinit;
  box-shadow: 0px 0px 8px 0px red;
}

.programacao-da-semana .no-ar-hoje h2 {
  font-size: 45px;
  font-weight: 600;
  color: #FFF;
  margin-top: 13px;
  text-transform: uppercase;
}

.programa-na-faixa {
  height: 75px;
  padding: 0px;
  position: relative;
}

.programacao-conteudo-h1 {
  height: auto;
  line-height: 65px;
  text-align: left;
  display: inline-block;
  float: left;
  padding: 0px 32px !important;
  padding-left: 5px;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.programa-na-faixa h3 {
  font-size: 15px;
  line-height: 18px;
  color: #FFF;
  margin: 0px;
  font-weight: 300;
  max-height: 36px;
  overflow: hidden;
}

.programa-na-faixa h4 {
  font-size: 17px;
  color: #FFF;
  opacity: 0.5;
  font-weight: 100;
  margin-top: 6px;
  margin-bottom: 0px;
}

.programa-na-faixa:after {
  content: " ";
  right: 0px;
  bottom: 0px;
  width: 1px;
  height: 74px;
  position: absolute;
  background: #FFF;
  opacity: 0.2;
}

.ver-toda-programacao {
  height: 65px;
  float: right;
  text-align: center;
  font-weight: 100;
  color: #FFF;
  position: absolute;
  right: -28px;
  padding: 0px;
  font-size: 16px;
  width: 210px;
  padding-left: 3px;
}

.ver-toda-programacao h3 {
  font-size: 14px;
  font-weight: 100;
  margin-top: 16px;
  padding: 3px 0px;
}
